/**
 * Project Name: Matchday
 *
 * 1. Fonts
 * 2. Theme Color
 * 3. Browser Reset
 * 4. Utility Classes
 * 5. Theme Classes
 *
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Theme Color */
:root {
  --global-red: #ed1b24;
  --global-red-shade: #C10000;
  --global-blue: #0059a9;
  --global-blue-shade: #003B93;
  --global-black: #1b1b1b;
  
  --global-white: #ffffff;
  --global-white-600: #fcfcfc;

  /* --ff-primary: "Cormorant Garamond", serif; */
  --ff-body: "Kanit", sans-serif;

  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-drag-bg-color: var(--clr-accent);
}

/* Browser Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:focus,
a:hover {
  outline: none;
}
a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body {
  font-family: var(--ff-body);
  text-rendering: optimizeSpeed;
  font-size: 1.125rem;
  font-weight: 300;
  color: #1e1e1e;
  padding: 0 32px;
}
p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* Utility Classes */

.asb19__overlay {
  position: relative;
}
.asb19__overlay::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.82);
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.72;
}
.asb19__bgVideo video {
  width: 100%;
}
.asb19__bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  overflow: hidden;
}
.asb19__bgImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}
.asb19__bgMask {
  mask-mode: alpha;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.asb19__bgMask img {
  width: 100%;
}
section[class^="asb19__"] {
  position: relative;
  z-index: 3;
}
/* Theme Classes */
.asb19__gradient {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 100%);
}
.asb19__gradient--bottom  {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 100%);
}

.asb19__bg--blue {
  background-color: var(--global-blue-shade);
  --bs-heading-color: #fff;
}
.asb19__bg--accent-light {
  background-color: var(--clr-accent-tint);
}
.asb19__bg--colored {
  --bs-heading-color: #fff;
}
.asb19__bg--light {
  background-color: #fafafa;
}

/* Custom Properties */
.asb19__py {
  padding: 80px 0;
}
.asb19__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--global-blue);
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 11px 30px;
  border-radius: 50px;
  position: relative;
  border: 2px solid var(--global-blue-shade);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
/* .asb19__btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.4;
} */
.asb19__btn::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--global-red);
  border-radius: 50%;
  margin: 5px 0 0 6px;
}
.asb19__btn:hover {
  border-color: #ececec;
  transition: all 0.3s ease-in-out;
  background-color: #ececec;
  color: var(--global-blue);
}
.asb19__btn:hover::before {
  -webkit-animation: imgShine 1.5s ease-out infinite;
  animation: imgShine 1.5s ease-out infinite;
}
.asb19__btn--white {
  color: var(--global-blue);
  border-color: var(--global-white);
  background-color: var(--global-white);
}
/* .asb19__btn--white:hover {
  border-color: var(--clr-white);
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
  color: var(--clr-black);
} */
.asb19__btn--fill {
  color: var(--global-blue);
  border-color: var(--global-white);
  background-color: var(--global-white);
}
.asb19__btn--small {
  padding: 8px 25px;
}
/* .asb19__btn--fill:hover {
  background-color: var(--clr-white);
  border-color: var(--clr-white);
} */
.asb19__btn--link {
  text-transform: unset;
  font-family: var(--ff-body);
  letter-spacing: 0;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: var(--global-blue);
  background-color: #f4f4f4;
  padding: 5px 16px;
  border-radius: 50px;
}
.asb19__btn--link:hover {
  color: var(--global-red);
}
.asb19__btn--link::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--clr-accent);
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.asb19__btn--link:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.asb19__main--widget {
  margin-bottom: 40px;
}
.asb19__main--widget > :not(:last-child), asb19__content--widget > :not(:last-child) {
  margin-bottom: 20px;
}
.asb19__heading {
  position: relative;
}
.asb19__heading h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -1px;
  /* text-transform: capitalize; */
}
.asb19__heading--white h3 {
  color: var(--clr-white);
}
.asb19__heading--white::before {
  filter: invert(1);
}
.asb19__heading h6 {
  font-size: 14px;
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  color: var(--clr-yellow-shade);
  text-shadow: 0px 0px 30px rgba(119, 119, 119, 0.31);
}


.highlight {
  display: inline-block;
  background-color: var(--global-red);
  color: var(--global-white);
  padding: 0 20px;
  border-radius: 50px;
  line-height: 60px;
}
.highlight-outline {
  display: inline-block;
  background-color: transparent;
  padding: 0 20px;
  border-radius: 50px;
  border: 2px solid var(--global-blue);
  line-height: 60px;
}

.asb19__form .form-control, .asb19__form .form-select {
  padding: 13px 0px 13px 1px;
  /*! height: 48px; */
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-family: var(--ff-body);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(214, 214, 214);
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.asb19__form .form-control::placeholder {
  color: rgb(106, 110, 113);
}
.asb19__form .form-control:hover {
  border-color: var(--clr-accent);
  transition: all 0.5s ease-in-out;
}
.asb19__form .form-group {
  margin-bottom: 32px;
}
.asb19__form textarea.form-control {
  min-height: 120px;
  resize: none;
}
.asb19__content > :not(:last-child) {
  margin-bottom: 16px;
}

/* Swiper Resets */
[class^="swiper-button-"] {
  visibility: hidden;
}
[class^="swiper-button-"]::after {
  content: '';
  display: none;
}
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--clr-purple);
  border-radius: 50%;
}
.swiper-wrapper {
  padding-bottom: 15px;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px;
}

/* Animations */
.img-shine {
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
}
.img-shine:hover::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
.img-shine::after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}
@keyframes imgShine {
  100% {
    left: 125%;
  }
}
@keyframes jump {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(-10%);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes jump-reverse {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(10%);
	}
	100% {
		transform: translatey(0px);
	}
}
.jump {
	-webkit-animation: jump 7s linear infinite;
	animation: jump 7s linear infinite;
}
.jump-reverse {
	-webkit-animation: jump-reverse 7s linear infinite;
	animation: jump-reverse 7s linear infinite;
}
@-webkit-keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.25);
  }
}
@keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.25);
  }
}
@-webkit-keyframes pulse_shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(34, 31, 108, 0.25);
  }
  100% {
    box-shadow: 0px 0px 3px 30px rgba(34, 31, 108, 0);
  }
}
@keyframes pulse_shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(34, 31, 108, 0.25);
  }
  100% {
    box-shadow: 0px 0px 3px 30px rgba(34, 31, 108, 0);
  }
}
.pulse-shadow {
  -webkit-animation: pulse_shadow 2s ease-in-out infinite;
  animation: pulse_shadow 2s ease-in-out infinite;
}
.menu-sticky {
-webkit-animation: menu-sticky 1s ease-in-out;
animation: menu-sticky 1s ease-in-out;
}
@-webkit-keyframes menu-sticky {
  0% {
    margin-top:-120px;
    opacity:0;
  }
  50% {
    margin-top:-64px;
    opacity:0;
  }
  100% {
    margin-top:0;
    opacity:1;
  }
}
@keyframes menu-sticky {
  0% {
    margin-top:-120px;
    opacity:0;
  }
  50% {
    margin-top:-64px;
    opacity:0;
  }
  100% {
    margin-top:0;
    opacity:1;
  }
}

/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */

.asb19__header {
  padding: 15px 0;
}
.asb19__header.fixed__header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  -webkit-animation: menusticky 1s ease-in-out;
  animation: menusticky 1s ease-in-out;
}
.asb19__header .navbar-brand {
  width: 100%;
  padding: 0;
  margin: 0px 0px 15px 0px;
  display: flex;
  justify-content: center;
}

.asb19__header--expanded {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.asb19__header--expanded .navbar-nav {
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
}
.asb19__header--socials {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  width: 15%;
}
.asb19__header--socials li a {
  font-size: 15px;
  color: #1b1b1b;
}
.asb19__header--hamburger {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.asb19__header--hamburger .navbar-toggler {
  box-shadow: none;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navbar-toggler .icon-bar {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: var(--global-black);
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 5px;
}




.asb19__casestudies--wrap {
  display: grid;
  grid-template: 400px 70px 200px / 29% 29% 39%;
  gap: 15px;
  height: 100%;
  justify-content: center;
}
 
.asb19__casestudies--single0 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.asb19__casestudies--single1 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}
.asb19__casestudies--single2 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.asb19__casestudies--single3 {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.asb19__casestudies--single4 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}



.asb19__casestudies--single {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
}
.asb19__casestudies--link {
  position: relative;
  z-index: 2;
  display: block;
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
}
.asb19__casestudies--link:has(.asb19__img)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(7, 45, 79, 0.33) 100%);
  left: 0;
  top: 0;
  z-index: 0;
}
.asb19__casestudies--link .asb19__content {
  position: absolute;
  width: 80%;
  left: 0;
  bottom: 0;
  padding: 30px 40px;
}
.asb19__casestudies--link .asb19__content h3 {
  color: var(--global-red);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 85px;
  letter-spacing: -1px;
  line-height: 75px;
}
.asb19__casestudies--link .asb19__content p {
  color: var(--global-white);
  text-transform: uppercase;
}

.asb19__casestudies--link .asb19__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.asb19__casestudies--link:hover .asb19__img img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.asb19__casestudies--single4 {
  background-color: var(--global-red);
  border-radius: 20px;
}
.asb19__casestudies--link .asb19__content h4 {
  color: var(--global-white);
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  line-height: 45px;
}
.asb19__casestudies--single4 .asb19__content {
  padding: 20px 20px;
}
.asb19__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}


.asb19__clientele--wrap {
  border-left: 1px solid #f4f4f4;
}

.asb19__clientele--single {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 35px 40px;
  border-bottom: 1px solid #f4f4f4;
}
.asb19__clientele--single img {
  height: 37px;
  /*! width: 100%; */
  object-fit: contain;
}

.asb19__team--back {
  transform: rotateY(180deg);
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--global-white);
  backface-visibility: hidden;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 25px 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.03);
}
.asb19__team--front {
  transform: rotateY(0deg);
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.asb19__team--single {
  position: relative;
  perspective: 1000px;
}
.asb19__team--single:hover .asb19__team--front {
  transform: rotateY(-180deg);
  transition: transform .5s ease-in-out;
}
.asb19__team--single:hover .asb19__team--back {
  transform: rotateY(0deg);
  transition: transform .5s ease-in-out;
}
.asb19__team--front .asb19__img img {
  border-radius: 20px;
}
.asb19__team--title h4 {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 38px;
  margin: 8px 0 0 0;
  color: var(--global-blue);
}

.asb19__team--socials {
  display: flex;
  gap: 5px;
  margin-bottom: 10px !important;
}
.asb19__team--socials li a {
  color: var(--global-blue);
  font-size: 13px;
  border: 1px solid var(--global-blue);
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.asb19__showcase--single {
  position: relative;
  z-index: 3;
  display: block;
  border-radius: 25px;
  overflow: hidden;
}
.asb19__blob {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.asb19__blob img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.asb19__showcase--single .asb19__img img {
  width: 100%;
  height: 100%;
  transform: scale(1.07) translate3d( -13px, 0px, 0px);
  transition: all 0.3s ease-in-out;
}
.asb19__showcase--single:hover .asb19__img img {
  transform: scale(1.05) translate3d( 0px, 0px, 0px);
  transition: all 0.3s ease-in-out;
}
.asb19__showcase--single .asb19__content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 35px 25px 35px;
}
.asb19__showcase--title h4 {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 38px;
  margin-bottom: 20px;
}
/** ----------------------------
*      Section: Footer Start
**  --------------------------*/
.asb19__footer {
  position: relative;
  z-index: 3;
}
.asb19__footer::before {
  position: absolute;
  content: "";
  background-image: url('../images/footer-pattern.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  z-index: -1;
}
.asb19__footer--socials {
  display: flex;
  gap: 12px;
}
.asb19__footer--socials li a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--global-white);
  color: var(--global-white);
  font-size: 15px;
  border-radius: 50%;
}
.asb19__footer--top {
  padding: 25px 0;
}
.asb19__footer--top .asb19__footer--nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.asb19__footer--top .asb19__footer--nav li  {
  margin-top: 0;
}
.asb19__footer--nav li a {
  color: var(--global-white);
  font-size: 16px;
  line-height: 24px;
}
.asb19__footer--middle {
  /* margin-top: 20px; */
  border-top: 1px solid var(--clr-accent-tint);
  padding: 60px 0 50px;
}
.asb19__footer--title h5 {
  font-size: 25px;
  font-weight: 600;
}
.asb19__footer--title {
  margin-bottom: 15px;
}
.asb19__footer--nav li + li {
  margin-top: 8px;
}
.asb19__footer--bottom {
  background-color: var(--clr-accent);
  padding: 15px 0;
}
.asb19__footer--logo img {
  height: 45px;
  object-fit: contain;
}
.asb19__footer--copy {
  color: var(--clr-white);
}
.asb19__footer--copy p {
  font-size: 15px;
  /* text-align: end; */
}
.asb19__footer--logo {
  background-color: var(--clr-accent);
  padding: 15px 24px;
  width: fit-content;
}

.asb19__newsletter form {
  background-color: var(--global-white);
  display: inline-block;
  padding: 5px 22px 5px 0px;
  border-radius: 50px;
}
.asb19__newsletter .form-control {
  border: none;
  padding: 0px 10px 0px 30px;
  height: 100%;
  background-color: transparent;
  box-shadow: none !important;
}
.asb19__newsletter .form-group {
  height: 100%;
}
.asb19__newsletter .form-group.form-button .asb19__btn--fill {
  color: var(--global-white);
  border-color: var(--global-red);
  background-color: var(--global-red);
}
/** ----------------------------
*      Section: Footer End
**  --------------------------*/
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */