/**
 * Project Name: Matchday
 *
 * 1. Fonts
 * 2. Theme Color
 * 3. Browser Reset
 * 4. Utility Classes
 * 5. Theme Classes
 *
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Theme Color */
:root {
  --global-red: #ed1b24;
  --global-red-shade: #C10000;
  --global-blue: #0059a9;
  --global-blue-shade: #003B93;
  --global-black: #1b1b1b;
  
  --global-white: #ffffff;
  --global-white-600: #fcfcfc;

  --ff-body: "Kanit", sans-serif;

  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-drag-bg-color: var(--clr-accent);
}

/* Browser Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:focus,
a:hover {
  outline: none;
}
a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body {
  font-family: var(--ff-body);
  text-rendering: optimizeSpeed;
  font-size: 1.125rem;
  font-weight: 300;
  color: #1e1e1e;
  padding: 0 32px;
}
p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-body);
  margin-bottom: 0;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Utility Classes */

.asb19__overlay {
  position: relative;
}
.asb19__overlay::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, var(--global-blue) 0%, var(--global-blue-shade) 100%);
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.52;
}
.asb19__bgVideo video {
  width: 100%;
}
.asb19__bgImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}
.asb19__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
section[class^="asb19__"] {
  position: relative;
  z-index: 3;
}

/* Theme Classes */
.asb19__gradient {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 100%);
}
.asb19__gradient--bottom  {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 100%);
}

.asb19__bg--blue {
  background-color: var(--global-blue-shade);
  --bs-heading-color: #fff;
  color: var(--bs-heading-color);
}
.asb19__bg--blue-shade {
  background-color: var(--global-blue);
  --bs-heading-color: #fff;
  color: var(--bs-heading-color);
}
.asb19__bg--accent-light {
  background-color: var(--clr-accent-tint);
}
.asb19__bg--colored {
  --bs-heading-color: #fff;
}
.asb19__bg--light {
  background-color: #fafafa;
}
.asb19__border--radius50 {
  border-radius: 50px;
  overflow: hidden;
}
/* Custom Properties */
.asb19__py {
  padding: 80px 0;
}
.asb19__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--global-blue-shade) 0%, var(--global-blue) 100%);
  color: var(--global-white);
  font-family: var(--ff-body);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  padding: 15px 36px;
  border-radius: 50px;
  position: relative;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.asb19__btn:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, var(--global-blue-shade) 0%, var(--global-blue) 100%);
  color: var(--global-white);
}
.asb19__btn:hover::before {
  -webkit-animation: imgShine 1.5s ease-out infinite;
  animation: imgShine 1.5s ease-out infinite;
}
.asb19__btn--white {
  color: var(--global-blue);
  border-color: var(--global-white);
  background-image: linear-gradient(to right, var(--global-white) 0%, #dff0ff 100%);
}
.asb19__btn--white:hover {
  color: var(--global-blue);
  background-image: linear-gradient(to left, var(--global-white) 0%, #dff0ff 100%);
  transition: all 0.3s ease-in-out;
}
.asb19__btn--fill {
  color: var(--global-blue);
  border-color: var(--global-white);
  background-color: var(--global-white);
}
.asb19__btn--small {
  padding: 8px 25px;
}
.asb19__btn--link {
  font-family: var(--ff-body);
  letter-spacing: 0;
  border: none;
  font-size: 15px;
  color: var(--global-white);display: inline-flex;
  justify-content: end;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  line-height: 30px;
  height: 40px;
}
.asb19__btn--link:hover {
  color: var(--global-white);
}
.asb19__main--widget {
  margin-bottom: 40px;
}
.asb19__main--widget > :not(:last-child), asb19__content--widget > :not(:last-child) {
  margin-bottom: 20px;
}
.asb19__heading {
  position: relative;
}
.asb19__heading h3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--global-blue);
}
.asb19__heading--white h3 {
  color: var(--clr-white);
}
.asb19__heading--white::before {
  filter: invert(1);
}
.asb19__heading h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}
.asb19__heading--blue > * {
  color: var(--global-blue-shade);
}
.asb19__heading .highlight {
  display: inline-block;
  color: var(--global-red);
  border-radius: 50px;
  line-height: 60px;
}
.asb19__heading .highlight-outline {
  display: inline-block;
  background-color: transparent;
  padding: 0 20px;
  border-radius: 50px;
  border: 2px solid var(--global-blue);
  line-height: 60px;
}
.asb19__form .form-control, .asb19__form .form-select {
  padding: 13px 0px 13px 1px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-family: var(--ff-body);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(214, 214, 214);
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.asb19__form .form-control::placeholder {
  color: rgb(106, 110, 113);
}
.asb19__form .form-control:hover {
  border-color: var(--clr-accent);
  transition: all 0.5s ease-in-out;
}
.asb19__form .form-group {
  margin-bottom: 32px;
}
.asb19__form textarea.form-control {
  min-height: 120px;
  resize: none;
}
.asb19__content > :not(:last-child) {
  margin-bottom: 16px;
}

/* Swiper Resets */
[class^="swiper-button-"] {
  visibility: hidden;
}
[class^="swiper-button-"]::after {
  content: '';
  display: none;
}
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--clr-purple);
  border-radius: 50%;
}
.swiper-wrapper {
  padding-bottom: 15px;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px;
}

/* Animations */
.img-shine {
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
}
.img-shine:hover::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
.img-shine::after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}
@keyframes imgShine {
  100% {
    left: 125%;
  }
}
@keyframes jump {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(-10%);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes jump-reverse {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(10%);
	}
	100% {
		transform: translatey(0px);
	}
}
.jump {
	-webkit-animation: jump 7s linear infinite;
	animation: jump 7s linear infinite;
}
.jump-reverse {
	-webkit-animation: jump-reverse 7s linear infinite;
	animation: jump-reverse 7s linear infinite;
}
@-webkit-keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.25);
  }
}
@keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.25);
  }
}
@-webkit-keyframes pulse_shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(34, 31, 108, 0.25);
  }
  100% {
    box-shadow: 0px 0px 3px 30px rgba(34, 31, 108, 0);
  }
}
@keyframes pulse_shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(34, 31, 108, 0.25);
  }
  100% {
    box-shadow: 0px 0px 3px 30px rgba(34, 31, 108, 0);
  }
}
.pulse-shadow {
  -webkit-animation: pulse_shadow 2s ease-in-out infinite;
  animation: pulse_shadow 2s ease-in-out infinite;
}
.menu-sticky {
-webkit-animation: menu-sticky 1s ease-in-out;
animation: menu-sticky 1s ease-in-out;
}
@-webkit-keyframes menu-sticky {
  0% {
    margin-top:-120px;
    opacity:0;
  }
  50% {
    margin-top:-64px;
    opacity:0;
  }
  100% {
    margin-top:0;
    opacity:1;
  }
}
@keyframes menu-sticky {
  0% {
    margin-top:-120px;
    opacity:0;
  }
  50% {
    margin-top:-64px;
    opacity:0;
  }
  100% {
    margin-top:0;
    opacity:1;
  }
}

/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/** ----------------------------
*    Section: Header Start
**  --------------------------*/
.asb19__header {
  padding: 25px 0 5px;
}
.asb19__header.fixed__header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  -webkit-animation: menusticky 1s ease-in-out;
  animation: menusticky 1s ease-in-out;
}
.asb19__header .navbar-brand {
  width: 100%;
  padding: 0;
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
}
.asb19__header--expanded {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.asb19__header--expanded .navbar-nav {
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
}
.asb19__header--socials {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  width: 15%;
}
.asb19__header--socials li a {
  font-size: 15px;
  color: #1b1b1b;
}
.asb19__header--hamburger {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 15%;
}
.asb19__header--hamburger .navbar-toggler {
  box-shadow: none;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navbar-toggler .icon-bar {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: var(--global-black);
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 5px;
}
/** ----------------------------
*    Section: Header End
**  --------------------------*/
/** ----------------------------
*    Section: Hero Start
**  --------------------------*/
.asb19__hero--yt iframe {
  aspect-ratio: 16/9;
}
.ytp-chrome-top.ytp-show-cards-title {
  display: none !important;
}
.ytp-watermark {
  display: none !important;
}
/** ----------------------------
*    Section: Hero End
**  --------------------------*/
/** ----------------------------
*    Section: Casestudies Start
**  --------------------------*/
.asb19__casestudies--wrap {
  display: grid;
  grid-template: 400px 70px 200px / 29% 29% 39%;
  gap: 15px;
  height: 100%;
  justify-content: center;
}
.asb19__casestudies--single0 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.asb19__casestudies--single1 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}
.asb19__casestudies--single2 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.asb19__casestudies--single3 {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.asb19__casestudies--single4 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
.asb19__casestudies--single {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

/* cs 0 */
.asb19__casestudies--single .asb19__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asb19__casestudies--single0 .asb19__content .asb19__casestudies--logo img {
  height: 60px;
  object-fit: contain;
}
.asb19__casestudies--single .asb19__content h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.asb19__casestudies--single .asb19__content h6 span {
  display: block;
  font-weight: 600;
}
/* cs 1 */
.asb19__casestudies--single1 .asb19__content .asb19__casestudies--logo img {
  height: 79px;
  object-fit: contain;
}
.asb19__casestudies--single1 .asb19__casestudies--link .asb19__content {
  width: 60%;
}
/* cs 2 */
.asb19__casestudies--single2 .asb19__casestudies--link .asb19__content {
  width: 50%;
}
.asb19__casestudies--single2 .asb19__content h6 {
  margin-top: 8px;
}
/* cs 3 */
.asb19__casestudies--single3 .asb19__casestudies--logo img {
  height: 61px;
  object-fit: contain;
}
.asb19__casestudies--single3 .asb19__casestudies--link {
  color: var(--global-blue);
}
.asb19__casestudies--single3 .asb19__casestudies--link .asb19__content {
  height: auto;
  bottom: unset;
  top: 0;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}
/* cs 4 */
.asb19__casestudies--single4 .asb19__casestudies--logo img {
  height: 94px;
  object-fit: contain;
}
.asb19__casestudies--single4 .asb19__casestudies--link .asb19__content h5 {
  font-weight: 400;
}
.asb19__casestudies--single4 .asb19__casestudies--link .asb19__content h5 span {
  font-weight: 600;
}
.asb19__casestudies--single4 .asb19__casestudies--link .asb19__content {
  padding: 20px 30px;
}
/* cs 4 */
.asb19__casestudies--link {
  position: relative;
  z-index: 2;
  display: block;
  border-radius: 9px;
  height: 100%;
  color: var(--global-white);
  overflow: hidden;
}
.asb19__casestudies--link .asb19__content {
  position: absolute;
  width: 80%;
  left: 0;
  bottom: 0;
  padding: 30px 25px 25px;
  z-index: 3;
}
.asb19__casestudies--link .asb19__content .asb19__casestudies--logo {
  margin: 0;
}
.asb19__casestudies--link .asb19__content h3 {
  color: var(--global-red);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 85px;
  letter-spacing: -1px;
  line-height: 75px;
}
.asb19__casestudies--link .asb19__content p {
  color: var(--global-white);
  text-transform: uppercase;
}
.asb19__casestudies--link .asb19__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.asb19__casestudies--link:hover .asb19__img img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.asb19__casestudies--single4 {
  border-radius: 20px;
}
.asb19__casestudies--link .asb19__content h4 {
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 1;
}
.asb19__casestudies--link .asb19__content h5 {
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1;
}
/** ----------------------------
*    Section: Casestudies End
**  --------------------------*/
/** ----------------------------
*    Section: Services Start
**  --------------------------*/
.asb19__services--accordion .accordion-item {
  background-color: var(--global-blue);
  color: var(--global-white);
  border-radius: 40px !important;
  overflow: hidden;
  border: none !important;
}
.asb19__services--accordion .accordion-item + .accordion-item {
  margin-top: 12px;
}
.asb19__services--accordion .accordion-button {
  color: var(--global-white);
  background-color: var(--global-blue);
  padding: 25px 32px 25px;
}
.asb19__services--accordion .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 12.998H5v-2h14z'/%3E%3C/svg%3E");
  --bs-accordion-btn-icon-width: 25px;
}
.asb19__services--accordion .accordion-button h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.asb19__services--accordion .accordion-button:not(.collapsed) {
  color: var(--global-white);
  background-color: transparent;
  box-shadow: unset;
}
.asb19__services--accordion .accordion-body {
  padding: 0px 32px 25px;
}
.asb19__services--media {
  margin-top: 40px;
}
.asb19__services--media .asb19__img {
  border-radius: 40px;
}
/** ----------------------------
*    Section: Services End
**  --------------------------*/
/** ----------------------------
*    Section: Clientele Start
**  --------------------------*/
.asb19__clientele--wrap {
  border-left: 1px solid #f4f4f4;
}
.asb19__clientele--single {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid #f4f4f4;
}
.asb19__clientele--single img {
  height: 110px;
  width: 100%;
  object-fit: contain;
}
/* .asb19__clientele--single img:nth-child(1) {
  display: block;
  transition: all 0.5s ease-in-out;
}
.asb19__clientele--single img:nth-child(2) {
  display: none;
  transition: all 0.5s ease-in-out;
}
.asb19__clientele--single:hover img:nth-child(1) {
  display: none;
  transition: all 0.5s ease-in-out;
}
.asb19__clientele--single:hover img:nth-child(2) {
  display: block;
  transition: all 0.5s ease-in-out;
} */
/** ----------------------------
*    Section: Clientele Start
**  --------------------------*/
/** ----------------------------
*    Section: Team Start
**  --------------------------*/
.asb19__team--back {
  transform: rotateY(180deg);
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--global-white);
  backface-visibility: hidden;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 25px 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.03);
}
.asb19__team--front {
  transform: rotateY(0deg);
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.asb19__team--single {
  position: relative;
  perspective: 1000px;
}
.asb19__team--single:hover .asb19__team--front {
  transform: rotateY(-180deg);
  transition: transform .5s ease-in-out;
}
.asb19__team--single:hover .asb19__team--back {
  transform: rotateY(0deg);
  transition: transform .5s ease-in-out;
}
.asb19__team--front .asb19__img img {
  border-radius: 20px;
}
.asb19__team--title h4 {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 38px;
  margin: 8px 0 0 0;
  color: var(--global-blue);
}
.asb19__team--socials {
  display: flex;
  gap: 5px;
  margin-bottom: 10px !important;
}
.asb19__team--socials li a {
  color: var(--global-blue);
  font-size: 13px;
  border: 1px solid var(--global-blue);
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/** ----------------------------
*    Section: Team End
**  --------------------------*/
/** ----------------------------
*    Section: Showcase Start
**  --------------------------*/
.asb19__showcase--single {
  position: relative;
  z-index: 3;
  display: block;
  border-radius: 25px;
  overflow: hidden;
}
.asb19__blob {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.asb19__blob img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.asb19__showcase--single .asb19__img img {
  width: 100%;
  height: 100%;
  transform: scale(1.07) translate3d( -13px, 0px, 0px);
  transition: all 0.3s ease-in-out;
}
.asb19__showcase--single:hover .asb19__img img {
  transform: scale(1.05) translate3d( 0px, 0px, 0px);
  transition: all 0.3s ease-in-out;
}
.asb19__showcase--single .asb19__content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 35px 25px 35px;
}
.asb19__showcase--title h4 {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 38px;
  margin-bottom: 20px;
}
/** ----------------------------
*    Section: Clientele Start
**  --------------------------*/
/** ----------------------------
*      Section: Footer Start
**  --------------------------*/
.asb19__footer {
  position: relative;
  z-index: 3;
}
.asb19__footer--socials {
  display: flex;
  gap: 12px;
}
.asb19__footer--socials li a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--global-white);
  color: var(--global-white);
  font-size: 15px;
  border-radius: 50%;
}
.asb19__footer--socials li a:hover {
  background-color: var(--global-red);
  border-color: var(--global-red);
}
.asb19__footer--top {
  padding: 25px 0;
}
.asb19__footer--top .asb19__footer--nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.asb19__footer--top .asb19__footer--nav li  {
  margin-top: 0;
}
.asb19__footer--nav li a {
  color: var(--global-white);
  font-size: 16px;
  line-height: 24px;
}
.asb19__footer--middle {
  /* margin-top: 20px; */
  border-top: 1px solid var(--clr-accent-tint);
  padding: 60px 0 50px;
}
.asb19__footer--title h5 {
  font-size: 25px;
  font-weight: 600;
}
.asb19__footer--title {
  margin-bottom: 15px;
}
.asb19__footer--nav li + li {
  margin-top: 8px;
}
.asb19__footer--bottom {
  background-color: var(--clr-accent);
  padding: 15px 0 40px;
}
.asb19__footer--logo img {
  height: 45px;
  object-fit: contain;
}
.asb19__footer--copy {
  color: var(--clr-white);
}
.asb19__footer--copy p {
  font-size: 15px;
}
.asb19__footer--logo {
  width: fit-content;
}
.asb19__newsletter form {
  background-color: var(--global-white);
  display: inline-block;
  padding: 5px 8px 5px 0px;
  border-radius: 50px;
  width: 100%;
}
.asb19__newsletter .form-control {
  border: none;
  padding: 0px 10px 0px 30px;
  height: 100%;
  background-color: transparent;
  box-shadow: none !important;
}
.asb19__newsletter .form-group {
  height: 100%;
}
.asb19__newsletter .form-group.form-button .asb19__btn--fill {
  color: var(--global-white);
  border-color: var(--global-red);
  background-color: var(--global-red);
}
/** ----------------------------
*      Section: Footer End
**  --------------------------*/
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ INNERPAGES START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/** ----------------------------
*   Section: Inner Hero Start
**  --------------------------*/
.asb19__main--absolute {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.asb19__hero--inner .asb19__main--widget h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
}
.asb19__breadcrumb .breadcrumb {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  --bs-breadcrumb-item-active-color: var(--global-white);
  --bs-breadcrumb-divider-color: var(--global-white);
}
.asb19__breadcrumb .breadcrumb .breadcrumb-item a {
  color: var(--global-white);
}
.asb19__breadcrumb .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
.asb19__breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}
/** ----------------------------
*   Section: Inner Hero End
**  --------------------------*/
/** ----------------------------
*   Section: Inner About Start
**  --------------------------*/
.asb19__about--content {
  margin-top: 60px;
}
.asb19__about--content .asb19__btn--wrap {
  margin-top: 48px;
}
.asb19__social--wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.asb19__social--single {
  flex: 0 0 auto;
  width: 30%;
}
.asb19__social--wrap ul li a {
  display: inline-flex;
  border: 1px solid var(--global-blue);
  width: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--global-blue);
  transition: all 0.5s ease-in-out;
}
.asb19__social--wrap ul li a:hover {
  color: var(--global-red);
  border-color: var(--global-red);
  transition: all 0.5s ease-in-out;
}
/** ----------------------------
*   Section: Inner About End
**  --------------------------*/
/** ----------------------------
* Section: Inner Services Start
**  --------------------------*/
.asb19__services--single {
  display: flex;
  padding: 50px 50px 15px;
  min-height: 220px;
  border-radius: 40px;
}
.asb19__services--single + .asb19__services--single {
  margin-top: -25px;
}
.asb19__services--single .asb19__services--title {
  display: inline-flex;
  width: 55%;
  padding-right: 50px;
}
.asb19__services--single .asb19__services--title h5 {
  text-transform: uppercase;
  color: var(--global-white);
}
.asb19__services--single .asb19__content {
  flex: 0 0 auto;
  width: 40%;
}
.asb19__services--single .asb19__services--link {
  flex: 0 0 auto;
  width: 15%;
  text-align: end;
}
.asb19__services--single:nth-child(4n+1) {
  background-color: #075092;
}
.asb19__services--single:nth-child(4n+2) {
  background-color: var(--global-blue);
}
.asb19__services--single:nth-child(4n+3) {
  background-color: #0d6cc1;
}
.asb19__services--single:nth-child(4n+4) {
  background-color: #257cc9;
}
/** ----------------------------
* Section: Inner Services End
**  --------------------------*/
/** ----------------------------
* Section: Inner We Serve Start
**  --------------------------*/
.asb19__serve--single {
  padding: 50px;
  border: 2px solid var(--global-blue);
  border-radius: 50px;
  background-color: var(--global-blue);
  color: var(--global-white);
  transition: all 0.3s ease-in-out;
}
.asb19__serve--single:hover {
  color: var(--global-black);
  border-color: var(--global-red);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.asb19__serve--single .asb19__serve--title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}
.asb19__serve--single:hover .asb19__serve--title {
  color: var(--global-red);
  transition: all 0.3s ease-in-out;
}  
.asb19__serve--num {
  font-size: 40px;
  margin-right: 15px;
  font-weight: 400;
}
.asb19__serve--single .asb19__serve--title h5 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
/** ----------------------------
* Section: Inner We Serve End
**  --------------------------*/
/** ----------------------------
*   Section: Inner News Start
**  --------------------------*/
.asb19__news--author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.asb19__news--author img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.asb19__news--author h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.asb19__news--meta ul {
  display: flex;
  align-items: center;
}
.asb19__news--date time {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
}
.asb19__news--meta ul li {
  position: relative;
}
.asb19__news--meta ul li + li {
  margin-left: 10px;
  padding-left: 10px;
}
.asb19__news--meta ul li + li::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--global-black);
  border-radius: 50%;
  left: -2px;
  top: 55%;
  transform: translateY(-50%);
}
.asb19__news--desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.asb19__news--single .asb19__news--desc {
  margin-bottom: 25px;
}
.asb19__news--title a h4 {
  color: var(--global-blue);
  font-weight: 400;
  min-height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.asb19__news--title a {
  display: inline-block;
}
.asb19__news--title {
  margin: 15px 0 10px;
}
.asb19__news--media a {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
/** ----------------------------
*   Section: Inner News End
**  --------------------------*/
/** ----------------------------
*  Section: Inner Contact Start
**  --------------------------*/
.asb19__contact--main {
  padding: 50px 50px;
  border-radius: 30px;
}
.asb19__contact--form {
  margin-top: 25px;
}
.asb19__contact--form .form-control, .asb19__contact--form .form-select  {
  background-color: transparent;
  border: 2px solid #ffffffc7;
  padding: 15px 26px;
  color: var(--global-white);
  border-radius: 30px;
  font-size: 16px;
  box-shadow: none;
}
.asb19__contact--form .form-select option {
  background-color: var(--global-white);
  color: var(--global-black);
}
.asb19__contact--form .form-select {
  text-transform: uppercase;
}
.asb19__contact--form .form-group:not(.form-button) {
  margin-bottom: 16px;
}
.asb19__contact--form .form-control::placeholder {
  color: var(--global-white);
  text-transform: uppercase;
}
.asb19__contact--form textarea.form-control {
  min-height: 150px;
  resize: none;
}
.asb19__map--wrap iframe {
  display: block;
  width: 100%;
  aspect-ratio: 2;
  border-radius: 30px;
}
/** ----------------------------
*  Section: Inner Contact Start
**  --------------------------*/
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ INNERPAGES END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */